<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-light" style="margin-left: 8px; cursor:pointer;" (click)="navigateHome()">Preço Baixo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <ul class="navbar-nav" style="margin-right: 8px;">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Olá, userName!
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <span class="dropdown-item">
                                <mat-icon>account_circle</mat-icon> Minha conta
                            </span>
                        </li>
                        <li>
                            <span class="dropdown-item">
                                <mat-icon>favorite</mat-icon> Lista de desejos
                            </span>
                        </li>
                        <li>
                            <span class="dropdown-item">
                                <mat-icon>exit_to_app</mat-icon> Logout
                            </span>
                        </li>
                    </ul>
                </li>
            </ul>
            <button type="button" class="btn btn-secondary" (click)="onGoToCart()">
                Meu carrinho <span class="badge badge-light">{{ cartService.products.length }}</span>
            </button>
        </div>
    </div>
</nav>