<div class="m-auto">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p class="fs-16">{{ category.name }}</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="w-100" style="background-color: #ebebeb;">
                <div class="row d-flex justify-content-around">
                    <ng-container *ngIf="!isLoading"></ng-container>
                    <div *ngFor="let product of products" class="col-md-2 mt-4">
                        <app-product-card [product]="product"></app-product-card>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>