<div class="w-100">
    <div class="product-category mt-4 m-auto w-75">
        <table class="">
            <tr>
                <td>
                    <table class="">
                        <tr>
                            <td class="w-100 fs-24 mt-24">Categorias</td>
                        </tr>
                        <tr>
                            <td class="fs-16">
                                Compre por categorias.
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <div class="mt-3">
            <div class="input-group mb-3 m-auto">
                <input type="text" class="form-control" placeholder="Buscar categoria" aria-label="Buscar categoria"
                    aria-describedby="basic-addon2" [(ngModel)]="categoryFilter" (keyup.enter)="initCategories()">
                <div class="input-group-append">
                    <button class="btn btn-default" type="button" (click)="initCategories()">
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <ng-container *ngIf="!isLoading">
            <ng-container *ngFor="let category of categories">
                <div class="mt-3">
                    <app-category [category]="category"></app-category>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>